@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Martian Mono", monospace;
    font-size: 16px;
}

:root{

    /* Neutral */

    --neutral900:(#062630);
    --neutral700:(#385159);
    --neutral200:(#e6e1df);
    --neutral100:(#FAF5F3);
    --neutral0:(#FFFFFF);


    /* Light Salmon */

    --light-salmon500:(#FEA36F);
    --light-salmon100:(#FFE2D1);
    --light-salmon50:(#FFF5EF);


    /* Gradient */

    --text-gradient:(linear-gradient(107deg, rgba(255,154,96,1) -11.37%, rgba(6,38,48,1) 61.84%));
    --gradient:linear-gradient(90deg, rgba(255,239,229,1) 0%, rgba(255,245,239,1) 100%);

    /* Font Family */
    /* font-family: "Inter", sans-serif; */
}


header{
    background-color: rgb(255, 245, 239);
    background-image: 
    repeating-linear-gradient(0deg, rgba(56, 81, 89, 0.2) 0px, rgba(56, 81, 89, 0.2) 1px, transparent 0.5px, transparent 40px),
    repeating-linear-gradient(90deg, rgba(56, 81, 89, 0.2) 0px, rgba(56, 81, 89, 0.2) 1px, transparent 0.5px, transparent 40px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;
    padding: 24px 16px;
    padding-bottom: 80px;
}

header nav{
    margin-bottom: 48px;
}

.left-hero{
    display: flex;
    flex-direction: column;
}

.left-hero h1{
    font-size: 38px;    
    line-height: 120%;
    letter-spacing: -2px;
    font-weight: bold;
    background: -webkit-linear-gradient(290deg, rgba(255,154,96,1) 0%, rgba(6,38,48,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 24px;
}

.left-hero p{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.5px;
    color: #385159;
    margin-bottom: 32px;      
}

.left-hero button{
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    padding: 24px;
    background: #FFF5EF;
    border-radius: 8px;
    border: solid 2px #062630;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: -1px;
    margin-bottom: 20px;
}

.left-hero button:hover{
    cursor: pointer;
    background: -webkit-linear-gradient(90deg, rgba(255,239,229,1) 0%, rgba(255,245,239,1) 100%);
}

.avatars-container{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 64px;
}

.avatars-container img{
    width: 30%;
}

.start-container{
    display: flex;
    width: 50%;
}

.avatar-text span{
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -1px;
    color: #385159;
}

.right-hero img{
    width: 100%;
}

section{
    display: flex;
    flex-direction: column;
    padding: 0 16px;
}

.main-descriptions{
    background-color: #FFFFFF;
}
h2{
    font-size: 34px;
    line-height: 130%;
    letter-spacing: -2px;
    color: #062630;
}

.description-card h2{
    margin-bottom: 24px;
    padding-top: 64px;
    position: relative;
    z-index: 10;
    
}

.description-card p{
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.5px;
    font-family: "Inter", sans-serif;
    color: #385159;
}

.description-item{
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 16px;
}

.description-card picture img{
    margin-top: 40px;
    width: 100%;
    border-radius: 15px;
}

.circle {
    position: absolute;
    width: 100px;
}


.logos-tech{
    visibility: hidden;
}

.journey-section{
    border-radius: 12px;
    margin: 64px 16px;
    padding: 64px 16px;
    background-color: rgb(255, 245, 239);
    background-image: 
    repeating-linear-gradient(0deg, rgba(56, 81, 89, 0.2) 0px, rgba(56, 81, 89, 0.2) 1px, transparent 0.5px, transparent 40px),
    repeating-linear-gradient(90deg, rgba(56, 81, 89, 0.2) 0px, rgba(56, 81, 89, 0.2) 1px, transparent 0.5px, transparent 40px);
}

.journey-section h2{
    font-size: 34px;
    line-height: 130%;
    letter-spacing: -2px;
    margin-bottom: 32px;
    color: #062630;
}

.journey-item-container{
    display: flex;
    flex-direction: column;
}

.journey-item{
    margin: 10px 0;
    font-size: 16px;
    color: #062630;
    font-weight: 700;
}

.journey-item span{
    border: solid 2px #062630;
    padding: 8px 12.5px;
    border-radius: 4px;
}

.journey-item p{
    margin-top: 30px;
}

.journey-item img{
    visibility: hidden;
}

.membership-section{
    margin-bottom: 64px;    
}

.membership-section h2{
    margin-bottom: 24px;
}

.membership-cards-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.membership-card{
    display: flex;
    flex-direction: column;
    border: solid 1px #e6e1df;
    border-radius: 8px;
    padding: 24px;
}

#pro{
    background: rgb(250,245,243);
    background: linear-gradient(150deg, rgba(250,245,243,1) 0%, rgba(230,225,223,1) 66%, rgba(56,81,89,1) 100%);
}

.membership-card .membership-card-text h3{
    font-size: 24px;
    line-height: 110%;
    letter-spacing: -1px;
    font-weight: 700;
    color: #062630;
}

.membership-card .membership-card-text p span{
    font-size: 34px;
    line-height: 130%;
    letter-spacing: -1px;
    font-weight: 700;
    color: #062630;
}

.membership-card .membership-card-text p {
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.5px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    color: #385159;
    padding: 24px 0;
    border-bottom: solid 1px #e6e1df;
}

.membership-card .membership-card-details{
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
} 

.membership-detail{
    display: flex;
    align-items: center;
    gap: 8px;
}

.membership-detail p{
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.5px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    color: #385159;
}

.membership-card button{
    margin-top: 32px;
    padding: 24px 20px;
    background-color: #FFF5EF;
    border: solid 2px #062630;
    border-radius: 8px;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: -1px;
    font-weight: 700;
    color: #062630;
    cursor: pointer;
}

/* Tablet */

@media (min-width: 767px) {
    header{
        padding: 32px;
    }
    header nav{
        margin-bottom: 64px;
    }
    .left-hero h1{
        font-size: 62px;
    }
    .left-hero button{
        max-width: 380px;
    }
    section{
        padding: 0 32px;
    }
    .description-card h2{
        font-size: 50px;
        padding-top: 80px;
        padding-bottom: 34px;
    }
    .description-item{
        gap: 24px;
    }
    .circle{
        width: 140px;
    }
    #second-card{
        position: relative;
    }
    .logos-tech{
        visibility: visible;
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
    .journey-section h2{
        font-size: 50px;
    }
    .journey-item p{
        font-size: 18px;
    }
    .membership-section h2{
        font-size: 50px;
        line-height: 130%;
        letter-spacing: -2px;
        margin-bottom: 40px;
    }
    .membership-cards-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
    }
    .membership-card{
        width: 340px;
    }

}


/* Desktop*/

@media (min-width: 1040px) {
    header{
        padding: 32px 9.35%;
    }
    header nav{
        margin-bottom: 80px;
    }
    .hero-container{
        display: flex;
        align-items: center;
        gap: 64px;
    }
    .left-hero p{
        margin-bottom: 32px;
    }
    section{
        padding: 120px 9.35%;
    }
    .description-card{
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: center;
        gap: 80px;
        padding-bottom: 120px;
    }
    .description-item{

        gap: 32px;
    }
    #second-card{
        flex-direction: row;
    }
    #second-card div{
        max-width: 550px;
    }
    #second-card div h2{
        position: relative;
        z-index: 10;
    }
    .logos-tech{
        visibility: visible;
        position: absolute;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
    }
    .journey-section h2{
        margin-bottom: 64px;
        max-width: 520px;
        text-align: center;
    }
    .journey-section{
        padding: 80px 16px;
        margin-left: 9.35%;
        margin-right: 9.35%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .journey-item-container{
        flex-direction: row;
    }
    .journey-item{
        margin: 0 20px;
        position: relative;
    }
    .journey-item img{
        position: absolute;
        visibility: visible;
        right: 0;
        top: 0;
    }
    .membership-cards-container{
        flex-wrap: nowrap;
        justify-content: center;
        gap: 50px;
    }
    .membership-section h2{
        text-align: center;
        margin-bottom: 64px;
    }
    .membership-card{
        width: 400px;
    }
    .membership-section{
        margin-bottom: 120px;    
    }

}